@import "_variables";
//*-------------header----------------------------------------------------------------
.header {
    padding: 25px 0px 0px 0px;
    min-height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, #d8d4ca 0%, rgba(217, 217, 217, 0) 100%);

    &__list {
        display: flex;
        margin: 0 -20px;
        gap: 0 40px;
    }

    &__logo {
        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }
    }

    &__mobile-logo {
        width: 50px;
        z-index: 5;
        img {
            max-width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @media (min-width: ($lg + 1)) {
            display: none;
        }
    }

    &__container {
        max-width: 1220px;
        padding: 0 10px;
    }
}

.menu {
    &__body {
        display: flex;
    }

    &__link {
        color: $dg;
        font-size: 16px;
    }
}

@media (min-width: $lg) {
    .menu {
        &__body {
            justify-content: space-between;
            align-items: center;
            padding: 0px 80px 0px 25px;
        }

        &__list {
            display: flex;
            margin: 0 -20px;
            gap: 0 40px;
        }
    }
}

@media (max-width: $lg) {
    .header {
        padding-top: 10px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__list {
            & > li {
                margin: 0px 0px 20px 0px;
            }
            &_left {
                order: 2;
            }

            &_right {
                li &:last-child {
                    margin-bottom: 0;
                }
                order: 3;
            }
        }

        &__body {
            flex-direction: column;
            align-items: center;
            transition: left 0.5s ease 0s;
            padding: 80px 30px 30px 30px;
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100vh;
            background-color: rgba(39, 31, 31, 0.9);
            overflow: auto;
            text-align: center;

            .menu__logo {
                display: none;
            }

            &._active {
                left: 0;
                &::before {
                    left: 0;
                }
            }
        }

        &__icon {
            width: 30px;
            height: 20px;
            display: block;
            cursor: pointer;
            position: relative;
            z-index: 5;

            &::after,
            &::before {
                content: "";
            }

            &::after,
            &::before,
            span {
                width: 100%;
                background: #290909;
                height: 10%;
                position: absolute;
                left: 0;
                transition: all 0.3s ease 0s;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }

            span {
                top: 50%;
                transform: translateY(-50%);
            }

            &._active {
                span {
                    transform: translateY(-50%) scale(0);
                }

                &::before {
                    top: 50%;
                    transform: translateY(-50%) rotate(-45deg);
                }

                &::after {
                    top: 50%;
                    transform: translateY(-50%) rotate(45deg);
                }
            }
        }
        &__link {
            color: #fff;
            font-size: 24px;
        }
    }
}

@media (max-width: $elg) {
    .menu {
        &__list {
            gap: 0 30px;
        }
    }
}
