@import "_variables";
//*--------------------------------------main-block--------------------------------------------------------------------
.main-block {
    background: url(../img/main-block/01.jpg) center/cover no-repeat;

    &__inner {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 102px 0px 30px 0px;
        text-align: center;
        font-family: "Impact", sans-serif;

        @media (max-width: $lg) {
            padding-top: 75px;
        }

        @media (max-width: $md) {
            padding-top: 60px;
        }

        @media (max-width: $sm) {
            padding-top: 55px;
        }
    }

    &__content {
        & > * {
            margin: 0 0 10px 0;
            &:last-child {
                margin: 0;
            }
        }
    }

    &__title {
        line-height: 1.22;
        font-size: 76px;
        letter-spacing: 0.02em;
        margin: 0px 0px 10px 7px;

        @media (max-width: $md) {
            font-size: 60px;
        }

        @media (max-width: $sm) {
            font-size: 50px;
        }

        @media (max-width: 340px) {
            font-size: 40px;
        }
    }

    &__subtitle {
        font-size: 48px;
        line-height: 1.23;
        padding: 0px 0px 10px 0px;
        border-bottom: 1px solid $bl;
        display: inline-block;

        @media (max-width: $md) {
            font-size: 35px;
        }

        span {
            font-size: 34px;
            line-height: 1;
            color: $gl;
            display: block;

            @media (max-width: $md) {
                font-size: 25px;
            }
        }
    }

    &__text {
        font-family: "Roboto Condensed";
        font-size: 16px;
        line-height: 1.2;
        color: $dg;
    }

    &__arrow {
        align-self: center;
        margin-top: auto;
    }
}
