//*--------------------------------------reusable--------------------------------------------------------------------
.title {
    text-transform: uppercase;
    font-size: 32px;
    line-height: 1.19;
    font-weight: 300;
}
