//*--------------------------------------viewports--------------------------------------------------------------------
$ct: 920px;
$elg: 1200px;
$lg: 992px;
$md: 767px;
$sm: 479px;

//*--------------------------------------colors--------------------------------------------------------------------
$bl: #040404; // black
$gl: #9f6b08; // gold
$dg: #363636; // dark grey
