@import "_null";
//*-------------------------------------wrapper---------------------------------------
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
//*--------------------------------------reusable-classes-----------------------------
@import "_reusable";
//*--------------------------------------variables------------------------------------
@import "_variables";
//*--------------------------------------keyframes------------------------------------
//*--------------------------------------fonts----------------------------------------
@import "_fonts";
//*--------------------------------------body-----------------------------------------
body {
  color: $bl;
  font-size: 14px;
  line-height: 120%;
  font-family: "Roboto Condensed", sans-serif;

  &._lock {
    overflow: hidden;
  }
}
//*--------------------------------------variables------------------------------------
@import "_variables";
//*---------------------------------------container------------------------------------
.container {
  max-width: $ct;
  margin: 0 auto;
  padding: 0 10px;
}
//*----------------------------------------header--------------------------------------
@import "_header";
//*----------------------------------------main----------------------------------------
.main {
  flex: 1 0 100%;
}
//--------------------------------------main-block---------------------------------------------
@import "_main-block";
//--------------------------------------info---------------------------------------------------
@import "_info";
//--------------------------------------track--------------------------------------------------
@import "_track";
//*----------------------------------------footer-------------------------------------
@import "_footer";
